<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>智慧网贷 </title>
<meta name="keywords" content="4"/>
<meta name="description" content=""/>
<meta name="author" content="">
<link rel="stylesheet" href="<?php echo base_url('statics/css/cutter.css') ?>">
<script src="<?php echo base_url('statics/js/jquery-1.7.2.min.js') ?>"></script>
<script src="<?php echo base_url('statics/js/cutter.js') ?>"></script>
<!--/*dialog__start*/-->
<link  href="<?php echo base_url('statics/artDialog/skins/blue.css');?>" rel="stylesheet" />
<script src="<?php echo base_url('statics/artDialog/artDialog.source.js');?>" type="text/javascript"></script>
<!--/*dialog__end*/-->
<link rel="stylesheet" type="text/css"  href="<?php echo base_url('/statics/js/validator/jquery.validator.css'); ?>"/>
<script src="<?php echo base_url('/statics/js/validator/jquery.validator.js'); ?>" type="text/javascript"></script>
<script src="<?php echo base_url('/statics/js/validator/local/zh_CN.js'); ?>" type="text/javascript"></script>

<link rel="stylesheet" type="text/css"  href="<?php echo base_url(); ?>statics/js/swfupload/default.css"/>
<script src="<?php echo base_url(); ?>statics/js/swfupload/swfupload.js" type="text/javascript"></script>
<script src="<?php echo base_url(); ?>statics/js/swfupload/handlers.js" type="text/javascript"></script>
<script src="<?php echo base_url(); ?>statics/js/swfupload/swfupload.queue.js" type="text/javascript"></script>
<script src="<?php echo base_url(); ?>statics/js/swfupload/fileprogress.js" type="text/javascript"></script>

<style type="text/css">
    .zh_table textarea{ border:1px solid #CCC; padding:6px;}
	.zh_table td{ vertical-align:middle}
    .zh_table.bordered{border-collapse:collapse;}
.attachListVideo,.attachList{list-style:none;padding-left:35px; list-style-image: url(/statics/imgs/lsit_style.gif); }
.attachDel { margin-left:10px;}

	#table_1 th{ font-size:17px; margin:7px 0 0 0; height: 30px; line-height: 35px;}	
</style>
<script type="text/javascript">

   var trade = "<?php echo str_replace('"','\"',str_replace('
          ','',$this->linkage->getSelect('81','0','trade','','','',''))); ?>";
   
</script>
<script src="<?php echo base_url('statics/js/edit_company.js') ?>"></script>
</head>

<body class="usa" style="padding:10px; background-color:#E9EAED">
    <div class="righter">

          <div class="datatable">
             <div class="tip" >
              <div class="left">
                    <abbr> 查看详细</abbr>
                </div>
        <div class="right"><a href="javascript:window.history.go(-1);" class="button deepblue" id="show_add" >返回</a></div>
             </div>
             <div class="head"></div>
             <div class="body">
        <div class="form_1" >
              <form action="<?php echo site_url('admin/company/edit'); ?>" name="form" id="form_1" method="POST">
                <table width="100%" id="table_1" class="table bordered zebra">
		              <tr>
                      <td colspan="2"><b>总括</b></td>
		              </tr>
                      <tr>
		                <td width='180'>所在区域：</td>
		                <td><?php echo $this->linkage->getSelect('35',$list['AREAID'],'form_main','','',' data-rule="required" data-msg-required="请选择"','AREAID'); ?></td>
		              </tr>

		              <tr>
		                <td>公司名称：</td>
		                <td><input type="text" name="form_main[COMPANY]" value="<?php echo $list['COMPANY']; ?>" data-rule="required" /></td>
		              </tr>
		              <tr>
		                <td>营业执照编号：</td>
		                <td><input type="text" name="form_main[LICENCE]" value="<?php echo $list['LICENCE']; ?>" data-rule="required" /></td>
		              </tr>


		              <tr id="trade_tr">
		                <td>行业：</td>
		                <td><?php echo $list['TRADE_I'];?>
		                	<a href="#" id="edit_trade">修改</a>
		                	<span id="insert_trade"></span>
		                </td>
		              </tr>

		              <tr>
		                <td>上年度销售收入：</td>
		                <td><input type="text" name="form_main[SALE_LAST]" value="<?php if ($list['SALE_LAST']){ echo $list['SALE_LAST'];} ?>" data-rule="required" />(万元)<span class="msg-box n-right" data-for="form_main[SALE_LAST]" ></span></td>
		              </tr>

                  <tr>
                    <td>授信需求：</td>
                    <td><input type="text" name="form_main[DEMAND]" value="<?php if ($list['DEMAND']){ echo $list['DEMAND'];} ?>"  />(万元)</td>
                  </tr>
		              <tr id="trade_tr">
		                <td>联系方式：</td>
		                <td><input type="text" name="form_main[TEL]" value="<?php echo $list['TEL']; ?>" data-rule="required" data-rule="required" /></td>
		              </tr>



            <tr>
                        <th>详细情况</th>
                        <td>&nbsp;</td>
                    </tr>      
               <tr>
                  <td width='180'>主营业务：</td>
                  <td><input type="text" name="form[MAIN]" value="<?php echo $list['MAIN']; ?>" data-rule="required"/></td>
                </tr>
                <tr>
                  <td>行业内地位：</td>
                  <td><input type="radio" name="form[PLACE]" value="1" <?php if($list['PLACE']=='1') echo "checked='checked';" ?>  data-rule="checked"/>领先  
                      <input type="radio" name="form[PLACE]" value="2" <?php if($list['PLACE']=='2') echo "checked='checked';" ?> />一般
                      <input type="radio" name="form[PLACE]" value="3" <?php if($list['PLACE']=='3') echo "checked='checked';" ?> />靠后</td>
                </tr>  
				<tr>
 	                <td>本年度预计销售收入：</td>
	                <td><input type="text" name="form_main[SALE_THIS]" value="<?php echo $list['SALE_THIS']; ?>" data-rule="required" />（万元）<span class="msg-box n-right" data-for="form_main[SALE_THIS]" ></span></td>
	              </tr>
                  <tr>
                    <td>村名下集体资产总量：</td>
                    <td><input type="text" name="form[V_TOTAL]" value="<?php if ($list['V_TOTAL']){ echo $list['V_TOTAL'];} ?>" data-rule="required"/>(万元)<span class="msg-box n-right" data-for="form[V_TOTAL]" ></span></td>
                  </tr>

                <tr>
                  <td>连续两年村级可支配收入：</td>
                  <td>去年末：<input type="text" name="form[V_SALE_LAST]" value="<?php echo $list['V_SALE_LAST'] ?>"  data-rule="required"/><span class="msg-box n-left" data-for="form[V_SALE_LAST]" ></span>（万元）
                      前年末：<input type="text" name="form[V_SALE_BEFORE]" value="<?php echo $list['V_SALE_BEFORE'] ?>"  data-rule="required"/><span class="msg-box n-left" data-for="form[V_SALE_BEFORE]" ></span>（万元）</td>
                </tr>


<!--                 <tr>
                  <td>资金用途：</td>
                  <td><?php echo $this->linkage->getSelect('350',0,'form','','','  data-rule="required" data-msg-required="请选择"','USE'); ?></td>
                </tr> -->

 	              <tr>
	                <td>当前主要合作银行：</td>
	                <td><?php echo $this->linkage->getCheckbox('145','form[COOPERATION]',$list['COOPERATION'],'','data-rule="checked"'); ?></td>
	                </td>
	              </tr>
	              <tr>
	                <td>当前在外融资金额：</td>
	                <td><input type="text" name="form_main[FINANCE_THIS]" value="<?php echo $list['FINANCE_THIS']; ?>" data-rule="required"  />（万元）<span class="msg-box n-right" data-for="form_main[FINANCE_THIS]" ></span></td>
	              </tr>

<!-- wait for editing-->
 	              <tr>
	                <td>担保方式：</td>
	                <td>
                    <?php 
                    foreach($list['WARRANT'] as $key=>$val){  
                        if($key === 0){
                          echo get_area($val);
                          echo "<input type='hidden' value='".$list['WARRANT'][0]."' name='warrant[0]' />";
                        }
                        if($key === 1){
                          echo "-".get_area($val);
                          echo "<input type='hidden' value='".$list['WARRANT'][1]."' name='warrant[1]' />";
                        }
                    } 
                    if ($list['WARRANT'][0] == '135' || $list['WARRANT'][0] == '137' ) {
                      if (empty($list['WARRANT']['price'])) {
                        $list['WARRANT']['price'] = '';
                      }
                        echo "<br/>市值：<input type='number' name='warrant[price]' value='".$list['WARRANT']['price']."' data-rule='required'/>(万元)";
                    }
            
                    if ($list['WARRANT'][0] == '136') {

                      if (empty($list['WARRANT']['com'])) {
                          $list['WARRANT']['com'] = array();
                      }
                      echo ":<br />".$this->linkage->getCheckbox('203','warrant[com]',$list['WARRANT']['com']);
                    }

                    if ($list['WARRANT'][0] == '138') {
                      if (empty($list['WARRANT']['about'])){
                        $list['WARRANT']['about'] = '';
                      }
                      if (empty($list['WARRANT']['price2'])) {
                        $list['WARRANT']['price2'] = '';
                      }
                        echo ":<br/>第三方销售收入：<input type='number' name='warrant[price2]' value='".$list['WARRANT']['price2']."' data-rule='required' />(万元)";
                        echo "&nbsp;对外担保情况：<input type='text' name='warrant[about]' value='".$list['WARRANT']['about']."'  data-rule='required'/>";
                    }

                    if ($list['WARRANT'][0] == '139') {
                      if (empty($list['WARRANT']['good'])) {
                        $list['WARRANT']['good'] = '';
                      }
                      if (empty($list['WARRANT']['price'])) {
                        $list['WARRANT']['price'] = '';
                      }
                        echo "<br/>质押物：<input type='text' name='warrant[good]' value='".$list['WARRANT']['good']."'  data-rule='required'/>";
                        echo "<br/>市值：<input type='number' name='warrant[price]' value='".$list['WARRANT']['price']."'/ data-rule='required'>(万元)";
                    }?>
	                </td>
	              </tr>
	<tr>
		<td>担保方式二</td>
		<td>
                    <?php 
                    if (!empty($list['WARRANT_2'])) {
		                    foreach($list['WARRANT_2'] as $key=>$val){  
		                        if($key === 0){
		                          echo get_area($val);
		                          echo "<input type='hidden' value='".$list['WARRANT_2'][0]."' name='warrant_2[0]' />";
		                        }
		                        if($key === 1){
		                          echo "-".get_area($val);
		                          echo "<input type='hidden' value='".$list['WARRANT_2'][1]."' name='warrant_2[1]' />";
		                        }
		                    } 
		                    if ($list['WARRANT_2'][0] == '135' || $list['WARRANT_2'][0] == '137' ) {
		                    	if (empty($list['WARRANT_2']['price'])) {
		                    		$list['WARRANT_2']['price'] = '';
		                    	}
		                        echo "<br/>评估价值：<input type='number' name='warrant_2[price]' value='".$list['WARRANT_2']['price']."' data-rule='required'/>(万元)";
		                    }

		            		if ($list['WARRANT_2'][0] == '135') {
		                    	if (empty($list['WARRANT_2']['price3'])) {
		                    		$list['WARRANT_2']['price3'] = '';
		                    	}
		                        echo "<br/>房产原值：<input type='number' name='warrant_2[price3]' value='".$list['WARRANT_2']['price3']."' data-rule='required'/>(万元)";
		                    }

		                    if ($list['WARRANT_2'][0] == '136') {

			                    if (empty($list['WARRANT_2']['com'])) {
			                        $list['WARRANT_2']['com'] = array();
			                    }
		                    	echo ":<br />".$this->linkage->getCheckbox('203','warrant_2[com]',$list['WARRANT_2']['com']);
		                    }

		                    if ($list['WARRANT_2'][0] == '138') {
		                    	if (empty($list['WARRANT_2']['about'])){
		                    		$list['WARRANT_2']['about'] = '';
		                    	}
		                    	if (empty($list['WARRANT_2']['price2'])) {
		                    		$list['WARRANT_2']['price2'] = '';
		                    	}
		                        echo ":<br/>第三方销售收入：<input type='number' name='warrant_2[price2]' value='".$list['WARRANT_2']['price2']."' data-rule='required' />(万元)";
		                        echo "&nbsp;对外担保情况：<input type='text' name='warrant_2[about]' value='".$list['WARRANT_2']['about']."'  data-rule='required'/>";
		                    }

		                    if ($list['WARRANT_2'][0] == '139') {
		                    	if (empty($list['WARRANT_2']['good'])) {
		                    		$list['WARRANT_2']['good'] = '';
		                    	}
		                    	if (empty($list['WARRANT_2']['price'])) {
		                    		$list['WARRANT_2']['price'] = '';
		                    	}
		                        echo "<br/>质押物：<input type='text' name='warrant_2[good]' value='".$list['WARRANT_2']['good']."'  data-rule='required'/>";
		                        echo "<br/>评估价值：<input type='number' name='warrant_2[price]' value='".$list['WARRANT_2']['price']."'/ data-rule='required'>(万元)";
		                }
                    }?>
		</td>
	</tr>

	<tr>
		<td>担保方式三</td>
		<td>
                    <?php 
                    if (!empty($list['WARRANT_3'])) {
        				        			
		                    foreach($list['WARRANT_3'] as $key=>$val){  
		                        if($key === 0){
		                          echo get_area($val);
		                          echo "<input type='hidden' value='".$list['WARRANT_3'][0]."' name='warrant_3[0]' />";
		                        }
		                        if($key === 1){
		                          echo "-".get_area($val);
		                          echo "<input type='hidden' value='".$list['WARRANT_3'][1]."' name='warrant_3[1]' />";
		                        }
		                    } 
		                    if ($list['WARRANT_3'][0] == '135' || $list['WARRANT_3'][0] == '137' ) {
		                    	if (empty($list['WARRANT_3']['price'])) {
		                    		$list['WARRANT_3']['price'] = '';
		                    	}
		                        echo "<br/>评估价值：<input type='number' name='warrant_3[price]' value='".$list['WARRANT_3']['price']."' data-rule='required'/>(万元)";
		                    }

		            		if ($list['WARRANT_3'][0] == '135') {
		                    	if (empty($list['WARRANT_3']['price3'])) {
		                    		$list['WARRANT_3']['price3'] = '';
		                    	}
		                        echo "<br/>房产原值：<input type='number' name='warrant_3[price3]' value='".$list['WARRANT_3']['price3']."' data-rule='required'/>(万元)";
		                    }

		                    if ($list['WARRANT_3'][0] == '136') {

			                    if (empty($list['WARRANT_3']['com'])) {
			                        $list['WARRANT_3']['com'] = array();
			                    }
		                    	echo ":<br />".$this->linkage->getCheckbox('203','warrant_3[com]',$list['WARRANT_3']['com']);
		                    }

		                    if ($list['WARRANT_3'][0] == '138') {
		                    	if (empty($list['WARRANT_3']['about'])){
		                    		$list['WARRANT_3']['about'] = '';
		                    	}
		                    	if (empty($list['WARRANT_3']['price2'])) {
		                    		$list['WARRANT_3']['price2'] = '';
		                    	}
		                        echo ":<br/>第三方销售收入：<input type='number' name='warrant_3[price2]' value='".$list['WARRANT_3']['price2']."' data-rule='required' />(万元)";
		                        echo "&nbsp;对外担保情况：<input type='text' name='warrant_3[about]' value='".$list['WARRANT_3']['about']."'  data-rule='required'/>";
		                    }

		                    if ($list['WARRANT_3'][0] == '139') {
		                    	if (empty($list['WARRANT_3']['good'])) {
		                    		$list['WARRANT_3']['good'] = '';
		                    	}
		                    	if (empty($list['WARRANT_3']['price'])) {
		                    		$list['WARRANT_3']['price'] = '';
		                    	}
		                        echo "<br/>质押物：<input type='text' name='warrant_3[good]' value='".$list['WARRANT_3']['good']."'  data-rule='required'/>";
		                        echo "<br/>评估价值：<input type='number' name='warrant_3[price]' value='".$list['WARRANT_3']['price']."'/ data-rule='required'>(万元)";
                    }}?>
		</td>
	</tr>

	<tr>
		<td>其他担保方式</td>
		<td><input type="text" name="form[WARRANT_O]" value="<?php if(!empty($list['WARRANT_O'])) echo $list['WARRANT_O']; ?>" /></td>
	</tr>
	              
	              <tr>
	                <td>企业主是否愿意连带责任担保：</td>
	               	<td><input type="radio" value="1" name="form[ISRELATE]" <?php if($list['ISRELATE']=='1') echo "checked='checked';" ?>   data-rule="checked"/>是 &nbsp;&nbsp;<input type="radio" value="2" name="form[ISRELATE]" <?php if($list['ISRELATE']=='2') echo "checked='checked';" ?>  />否</td>
	              </tr>

              <tr>
                <td>企业现场照片：</td>
                <td>


<div style="clear:both">
<ul class="attachList">
<?php if(!empty($attach['thumb'])) { foreach( $attach['thumb'] as $k => $v) {?>
<li>
<?php echo $v['name']; ?><a id="1_<?php echo $k;?>" class="attachDel" href="javascript:void(0)">×</a>
</li>
<?php } } ?>
</ul>
</div>
				</td>
              </tr>

              <tr>
                <td>其他补充情况：</td>
	            	<td><input type="text" name="form[THUMB2]" value="<?php if(!empty($list['THUMB2'])) echo $list['THUMB2']; ?>" /></td>
              </tr>

              <tr>
                <td>视频：</td>
                <td>
<div style="clear:both">
<ul class="attachListVideo">
<?php  if(!empty($attach['video'])) { foreach( $attach['video'] as $k => $v) {?>
<li>
<?php echo $v['name']; ?><a id="0_<?php echo $k;?>" class="attachDel" href="javascript:void(0)">×</a>
</li>
<?php } } ?>
</ul>
</div>
				</td>
              </tr>       

	  <?php if ($list['PS']) {  ?>
	  <tr>
		<td>资金需求补充说明：</td>
		<td><input type="text" name="form_main[PS][0]" value="<?php if(!empty($list['PS'][0])) echo $list['PS'][0]; ?>" /></td>
	  </tr>
	  <?php } ?>
			  <tr><td></td><td >
			  
<div>
 	<span id="spanButtonPlaceHolder"></span> 
	<input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled"  /><div style="clear:both;"></div>
	<span style="color:#ADABAB">(点击添加按钮，上传图片或者视频 jpg;gif;png;bmp;flv;mp4;rmvb,图片小于2M,视频小于20M)</span>
</div>

<div class="fieldset flash" id="fsUploadProgress" >
	<span class="legend">上传队列</span>
</div>
<div id="divStatus">0 文件已上传</div>

			  </td></tr>
<script type="text/javascript">
$(document).ready(function(){

	$('.attachDel').live("click",function(e){
	if( !confirm('确定删除此文件') )
		return;
		var datas = $(this).attr('id').split('_');

		$.post('<?php echo site_url('admin/swfupload/rmattachment');?>',{'formid':'<?php echo $list['ID']; ?>', 'a' : datas[0], 'b' : datas[1]},function(data){
			if(data.data == '1'){
				$(e.target).parent('li').remove();
			}
		},'json');
	});

});

var swfu;
window.onload = function() {
	var settings = {
		flash_url : "<?php echo base_url('/statics/js/swfupload/swfupload.swf');?>",
		upload_url: "<?php echo site_url('admin/swfupload'); ?>",
		post_params:{'formid':'<?php echo $list['ID']; ?>'},
		file_size_limit : "20 MB",
		file_types : "*.jpg;*.gif;*.png;*.bmp;*.flv;*.mp4;*.rmvb",
		file_types_description : "Image Video Files",
		file_upload_limit : 10,
		file_queue_limit : 6,
		custom_settings : {
			progressTarget : "fsUploadProgress",
			cancelButtonId : "btnCancel"
		},
		debug: false,
		button_image_url: "<?php echo base_url('/statics/js/swfupload/images/TestImageNoText_65x29.png');?>",
		button_width: "65",
		button_height: "29",
		button_placeholder_id: "spanButtonPlaceHolder",
		file_queued_handler : fileQueued,
		file_queue_error_handler : fileQueueError,
		file_dialog_complete_handler : fileDialogComplete,
		upload_start_handler : uploadStart,
		upload_progress_handler : uploadProgress,
		upload_error_handler : uploadError,
		upload_success_handler : uploadSuccess,
		upload_complete_handler : uploadComplete,
		queue_complete_handler : queueComplete
	};
	function fileQueued(file) {
		switch(file.type){
			case '.jpg':
			case '.gif':
			case '.png':
			case '.bmp': if( file.size > 2097152){ alert('图片文件过大');swfu.cancelQueue();return false;} break;
			case '.flv':
			case '.mp4':
			case '.rmvb':if( file.size > 20971520){ alert('视频文件过大');swfu.cancelQueue();return false;} break;
		}
		try {
			var progress = new FileProgress(file, this.customSettings.progressTarget);
			progress.setStatus("上传中...");
			progress.toggleCancel(true, this);
		} catch (ex) {
			this.debug(ex);
		}

	}

	function uploadSuccess(file, serverData)
	{
		if( serverData == '-1'){
			$('.attachListVideo').append(
				'<li>'+file.name+'<a id="0_0" class="attachDel" href="javascript:void(0)" >×</a></li>'
			);
		}else{
			$('.attachList').append(
				'<li>'+file.name+'<a id="1_'+serverData+'" class="attachDel" href="javascript:void(0)" >×</a></li>'
			);
		}
		try {
			var progress = new FileProgress(file, this.customSettings.progressTarget);
			progress.setComplete();
			progress.setStatus("上传成功.");
			progress.toggleCancel(true);	
		} catch (ex) {
			this.debug(ex);
		}
	}
	swfu = new SWFUpload(settings);
};
</script>
                  <tr>
                    <td colspan="2">
                      <input type="submit" class="button blue" value="修改" />
                    </td>
                  </tr>
                </table>
                <input type="hidden" name="id" value="<?php echo $list['ID']; ?>" />
                <input type="hidden" name="dopost" value="edit" />     
              </form>
        </div> 

             </div>
          </div>    
    </div>

  </body>
  </html>