<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>智慧网贷 </title>
<meta name="keywords" content="右侧列表栏目"/>
<meta name="description" content=""/>
<meta name="author" content="">
<link rel="stylesheet" href="<?php echo base_url('statics/css/cutter.css') ?>"> 
<script src="<?php echo base_url('statics/js/jquery-1.3.2.min.js') ?>"></script> 
<script src="<?php echo base_url('statics/js/cutter.js') ?>"></script> 
 
</head>

<body class="usa" style="padding:10px; background-color:#E9EAED">
    <div class="righter">
    	
         

          <h2>信息管理</h2>
          
          <div class="current">管理</div>
          
          <div class="datatable">
          	 <div class="tip">
             	<div class="left">
                    一些静态的说明文字
                </div>
                <div class="right">
                    <a href="#" class="button green">添加信息</a>
                </div>
             </div>
             <div class="head">
             	<div class="left">
                    
                    10行/页
                </div>
                <div class="right">
                    查找：<input name="" type="text">
                </div>
             </div>
             <div class="body">
             
             	<table width="200" border="0" class="table bordered">
          <thead>
              <tr>
                <td>/</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td class="selected">selected</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
            <br/>
             
             	<table width="200" border="0" class="table bordered zebra">
                      <tr>
                        <td width="4%"><input type="checkbox" name="checkbox" id="checkbox"></td>
                        <td width="11%">省份</td>
                        <td width="17%">市/县</td>
                        <td width="27%">名称</td>
                        <td width="26%">地址</td>
                        <td width="15%">操作</td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox2" id="checkbox2"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox3" id="checkbox3"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox4" id="checkbox4"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox5" id="checkbox5"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox6" id="checkbox6"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox7" id="checkbox7"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox8" id="checkbox8"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox9" id="checkbox9"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox10" id="checkbox10"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                      <tr>
                        <td><input type="checkbox" name="checkbox11" id="checkbox11"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td><a href="#" class="button">设定</a><a href="#" class="button">删除</a></td>
                        </tr>
                    </table>
             </div>
             <div class="foot">
             	<div class="left">显示1到10行 共57行</div>
                <div class="right">
                    
                    <div class="pager">
                    <a href="#">首页</a>
                    <a href="#">上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">...</a>
                    <a href="#">99</a>
                    <a href="#">下一页</a>
                    <a href="#">尾页</a>
                    </div>
            
                </div>
             </div>
          </div>
   
   
  
   <div class="popup" style="display:block;">
   	<div class="head">
    	编辑信息
        <del>×</del>
    </div>
    <div class="body">
    	hello
    </div>
    <div class="foot">
    	<input name="" type="button" value="确定" class="button blue">
    	<input name="" type="button" value="取消" class="button">
    </div>
   </div>
  
   
   
    </div>