<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>智慧网贷 </title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta name="author" content="boc">
<script type="text/javascript" src="<?php echo base_url('statics/js/jquery-1.7.2.min.js') ?>"></script> 
<!-- cutter -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url('statics/css/cutter.css') ?>"> 
<script type="text/javascript" src="<?php echo base_url('statics/js/cutter.js') ?>"></script> 

<!-- artDialog -->
<link  href="<?php echo base_url('statics/artDialog/skins/blue.css');?>" rel="stylesheet" />
<script src="<?php echo base_url('statics/artDialog/artDialog.source.js');?>" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="<?php echo base_url('statics/js/validator/jquery.validator.css') ?>" />
<script type="text/javascript" src="<?php echo base_url('statics/js/validator/jquery.validator.js') ?>"></script>
<script type="text/javascript" src="<?php echo base_url('statics/js/validator/local/zh_CN.js') ?>"></script>



</head>

<body class="usa" style="padding:10px; background-color:#E9EAED">
    <div class="righter">

          <div class="datatable">
       	    <div class="tip">
             	<div class="left">
                    <abbr> 站点设置</abbr>
                </div>
                <div class="right">
                  <span  onclick="settingFormSubmit()" class="button deepblue">保存</span>
                  <a href="javascript:history.go(-1)" class="button deepblue">返回</a>
                </div>
            </div>
             <div class=" head" >

             </div>
<form id="settingForm" name="" action="<?php echo site_url('/admin/setting/'); ?>" method="post">
             <div class="body">
   	      			<table width="200" border="0" class="table bordered zebra">
                      <tr>
                        <td > 名称</td>
						<td ><input class="zform" type="text" size="60" name="info[name]" value="<?php echo $list['name']; ?>"  data-rule="required"><input type="hidden" name="changed[name]" value="0" ></td>
                      </tr>
                      <tr>
                        <td > 域名</td>
						<td ><input class="zform" type="text" size="60" name="info[domain]" value="<?php echo $list['domain']; ?>" data-rule="required;url" ><input type="hidden" name="changed[domain]" value="0" ></td>
                      </tr>
                      <tr>
                        <td > 站点标题</td>
						<td ><input class="zform" type="text" size="60" name="info[siteTitle]" value="<?php echo $list['siteTitle']; ?>"  data-rule="required"><input type="hidden" name="changed[siteTitle]" value="0" ></td>
                      </tr>
                      <tr>
                        <td > 关键词</td>
						<td ><input class="zform" type="text" size="60" name="info[keywords]" value="<?php echo $list['keywords']; ?>" data-rule="required"><input type="hidden" name="changed[keywords]" value="0" ></td>
                      </tr>
                      <tr>
                        <td > 描述</td>
						<td ><textarea class="zform" name="info[description]" cols="53" rows="3" data-rule="required"><?php echo $list['description']; ?></textarea><input type="hidden" name="changed[description]" value="0" ></td>
                      </tr>
					  
                      <tr>
                        <td > 客服电话</td>
						<td ><input class="zform" type="text" size="60" name="info[customServicePhone]" value="<?php echo $list['customServicePhone']; ?>" data-rule="required;customPhone;length[1~50]"><input type="hidden" name="changed[customServicePhone]" value="0" ></td>
                      </tr>
                      
                     <!-- <tr>
                        <td > 信用卡专线</td>
						<td ><input class="zform" type="text" size="60" name="info[creditCardPhone]" value="<?php echo $list['creditCardPhone']; ?>" data-rule="required;customPhone;length[1~18]"><input type="hidden" name="changed[creditCardPhone]" value="0" ></td>
                      </tr>-->
                      
                      <tr>
                        <td > 网站备案号</td>
						<td ><input class="zform" type="text" size="60" name="info[recordNumber]" value="<?php echo $list['recordNumber']; ?>" data-rule="required"><input type="hidden" name="changed[recordNumber]" value="0" ></td>
                      </tr>
                      

                    </table>
				<div class="foot">
					<input type="submit" onclick="" value="保存" class="button deepblue">
				</div>
</form>
             </div>
          </div>
    </div>



<script type="text/javascript">
function settingFormSubmit(){
	$('#settingForm').submit();
}
$(document).ready(function(){

	$(".zform").change(function(){
		$(this).siblings('[type=hidden]').val(1);
	});

});
</script>
	</body>
</html>