<html>
<head>
	<title>融资快捷通道</title>
	<link rel="stylesheet" href="<?php echo base_url('statics/css/table.css') ?>"> 
	<link rel="stylesheet" href="<?php echo base_url('statics/css/cutter.css') ?>"> 
	<style type="text/css">
		table th, table td { border:0px;}
		.title { font-size:20px; line-height:40px; margin-left:10px; }
		.zh_table td { font-size:16px; text-align: center; line-height: 32px}
		.zh_table .con_in { text-align: left; padding-left:15px;}
	</style>
</head>
<body>
	<form action="<?php echo site_url("/fast"); ?>" method="POST">
		<table class="form_mid zh_table bordered zebra">
			<th colspan="2"><span class="title">融资补充</span></th>
			<tr>
				<td width="200">是否高新技术企业：</td>
				<td class="con_in"><input type="checkbox" name="fast[PS][ISHI]" value="1"></td>
			</tr>
			<tr>
				<td>企业所属人才计划：</td>
				<td class="con_in"><?php echo $this->linkage->getCheckbox('165','fast[PS][TALLENT]','','1','class="rcxm" data-rule="checked" data-msg-required="请选择身份"'); ?><span id="tall_insert"></span></td>
			</tr>
			<tr>
				<td>产品竞争性描述：</td>
				<td class="con_in"><input type="text" name="fast[PS][DES]" data-rule="required;" data-msg-required="请填写竞争性描述"></td>
			</tr>
			<tr>
				<td colspan="2"><button class="button deepblue" style="height:50px; width:130px; margin:5px 0 5px 0;">一键申请</button></td>
			</tr>
		</table>
		<input type="hidden" name="process" value="3" />
	</form>
</body>

<script type="text/javascript" src="<?php echo base_url('/statics/js/apply.js');?>"></script>
<script type = "text/javascript" src="<?php echo base_url('statics/js/jquery-1.7.2.min.js');?>"></script> 
<script type="text/javascript">
	$('#ckcd_171').live("change",function(){
		var html = '';
		if ($('#ckcd_171').attr('checked') == 'checked') {
			html = '<br/>其他请填写：<input type="text" name="fast[PS][OTHER]" />';	
		};
		$('#tall_insert').html(html);
	});
</script>


<link rel="stylesheet" type="text/css"  href="<?php echo base_url('statics/js/validator/jquery.validator.css'); ?>"/>
<link rel="stylesheet" type="text/css"  href="<?php echo base_url('statics/js/password/jquery.password.css'); ?>"/>
<script type = "text/javascript" src="<?php echo base_url('statics/js/jquery-1.7.2.min.js');?>"></script>
<script type = "text/javascript" src="<?php echo base_url('statics/js/password/jquery.password.js');?>"></script>  
<script type = "text/javascript" src="<?php echo base_url('statics/js/validator/local/zh_CN.js');?>"></script>
<script type = "text/javascript" src="<?php echo base_url('statics/js/validator/jquery.validator.js');?>"></script>
</html>