<div class="foot" style="min-height:238px">
	<div class="foot_con">
	<div class="foot_con_l">
		<p><img src="<?php echo base_url('statics/image/') ; ?>/ico_01.png" style="margin-right:10px;" align="absmiddle" /><?php echo $setting['customServicePhone']; ?></p>
		<p style="margin-top:15px;"><img src="<?php echo base_url('statics/image/') ; ?>/ico_02.jpg" style="margin-right:20px;" /><img src="<?php echo base_url('statics/image/') ; ?>/ico_03.jpg" style="margin-right:20px;" /><img src="<?php echo base_url('statics/image/') ; ?>/ico_04.jpg" style="margin-right:20px;" /></p>
	</div>
	<div class="foot_con_r">
		<a href="<?php echo site_url($footUrl['banquanshengming']); ?>" class="link_03">版权声明</a>　|　<a href="<?php echo site_url($footUrl['shiyong ']); ?>" class="link_03">使用条款</a>　|　<a href="<?php echo site_url($footUrl['contactUs']); ?>" class="link_03">联系我们</a>　|　<a href="###" target="_blank" class="link_03">苏ICP备08010158号</a><br>
		&copy; 中国银行股份有限公司苏州分行中小企业业务部
	</div>
	<div>
</div>
<div style="display:none;"><script src="http://s95.cnzz.com/z_stat.php?id=1254069022&web_id=1254069022" language="JavaScript"></script></div>
<div style="display:none;"><script src="http://s95.cnzz.com/z_stat.php?id=1254069110&web_id=1254069110" language="JavaScript"></script></div>



