<!-- footer -->
<table width="960" height="13" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="700" bgcolor="#990110" style="padding-left:15px;"><font class="txt06">客服热线：</font><font class="txt07"><?php echo $setting['customServicePhone']; ?></font></td>
    <td width="38"><img src="<?php echo base_url('statics/images/') ; ?>/37.jpg" width="38" height="30" /></td>
    <td width="222" bgcolor="#818181">&nbsp;</td>
  </tr>
</table>
<table width="960" height="70" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="bq">
	<a href="<?php echo site_url($footUrl['banquanshengming']); ?>" title="版权声明" class="link_02">版权声明</a> | 
	<a href="<?php echo site_url($footUrl['shiyong ']); ?>" 		title="使用条款" class="link_02">使用条款</a> | 
	<a href="<?php echo site_url($footUrl['contactUs']); ?>" 		title="联系我们" class="link_02">联系我们</a> | 
	<?php echo $setting['recordNumber']; ?>  中国银行股份有限公司苏州分行中小企业业务部
	<br />
    Copyright &copy; BANK OF CHINA(BOC) All Rights Reserved.  技术支持：江苏仕德伟网络科技股份有限公司</td>
    <td align="right"><img src="<?php echo base_url('statics/images/') ; ?>/38.jpg" width="109" height="32" /></td>
  </tr>
</table>
</body><!--{memory_usage}-->
</html>