<style type="text/css">
  .link_dqwz { color:#333;}
  .form_mid {}
  .form_mid th{ height:50px; font-size: 18px; text-align: center;}
  .form_mid tr{ height:18px; text-align: center;}
  .form_mid tr td{ height:28px; text-align: center;}
  .th_1 { width:135px;}
  .th_2 { width:295px;}
  .th_4 { width:310px;}
  .input_b_th { text-align: left; padding-left:5px;  float:left; width:85px; line-height: 26px;_line-height: 20px;}
  .input_b_th textarea{ width:210px;} 
  .input_b { text-align: left;width:210px; float: left;}
  .input_b_2 { text-align: left;float:left; width:200px; margin-left: 2px;_margin-left:0px;}
  .input_b_2 input{ text-align: left;width:43px; margin-right: 3px;}
  .btn { padding:28px;}
  .input_b_3 { width:210px;}
  .zh_table textarea{ border:1px solid #CCC; padding:6px;}
  .zh_table td{ vertical-align:middle; height:32px; line-height:32px !important;}
  .link_dqwz { color:#333;}
  .s-title { color:#666; margin-left:5px;}
</style>

<?php if(isset($categoryLeft)){  echo $categoryLeft;} ?>
<div style="float:right; width:730px; border-left:1px #CCCCCC solid; padding-left:30px;">
      <div style=" border-bottom:1px #CCCCCC solid; padding-bottom:15px;">当前位置：<a href="<?php echo site_url(); ?>" title="首页" class="link_dqwz">首页</a><?php if(isset( $breadcrumbs)) { foreach($breadcrumbs as $k => $v) { ?> > 
          <a href="<?php site_url($v['URL']); ?>" title="<?php echo $v['CATNAME']; ?>" class="link_dqwz"><?php echo $v['CATNAME']; ?></a><?php }} ?>
      </div>
      <div style="margin-top:25px;">
        <!--  内容start -->
        <img src="<?php echo base_url('statics/images/') ; ?>/ico01.gif" width="3" height="5" align="absmiddle" />&nbsp;<?php /*列表 catname */ if(isset($categoryOfThisId)){ echo $categoryOfThisId['CATNAME']; }?>我的融资申请 —— 资金需求补充说明
        <p class="s-title">从贵公司目前的财务状况来看，申请金额与我行财务测算有较大差异，请您对资金需求进行再次说明。</p>  
        <form action="<?php echo site_url('apply/index/stepex'); ?>" name="step_1_1" method="POST">
          <table width="100%" id="table_1"  class="table zebra">
            <tr>
              <td>
                <textarea rows="10" style="width:450px; padding-top:15px" name="form_main[PS][]" id="ps_3"></textarea>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="padding:15px; "><input type="image" src="<?php echo site_url('statics/images/gonext.jpg');?>"/></td>
            </tr>
          </table>
          <input type="hidden" name="dopost" value="ex" />     
        </form>
        <!--  内容end   -->
      </div>
</div>
<div class="clear"></div>
 
</div>
<div style="width:2px; height:80px; border:1px solid #333"></div>
</div>



